@font-face {
  font-family: "cintzelBold";
  src: url("../font/Cinzel-Bold.ttf");
}
body {
  margin: 0;
  font-family: "cintzelBold";
}
body h2 {
  font-family: "cintzelBold";
}

#main-container a.start-game-btn {
  display: block;
  text-decoration: none;
  background-color: #3a0a0a;
  color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  text-align: center;
  margin: 50px auto;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
#main-container .start-game-btn:hover {
  transform: scale(1.2);
}
#main-container .heading {
  text-align: center;
}
#main-container .heading p {
  font-size: 20px;
  font-weight: bold;
}
#main-container .heading h2 {
  font-size: 30px;
}

#header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
#header-container .flex-1 {
  flex: 1;
}
#header-container .logo {
  width: auto;
  height: 150px;
  margin: 20px 0 20px;
}
#header-container .logo img {
  height: 100%;
}
#header-container .rule_icon_container {
  margin-top: 30px;
}
#header-container .rule_icon_container .rule_icon {
  width: auto;
  height: 70px;
  float: right;
  margin: 20px;
}

#card-container, #game-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
#card-container .character-card, #game-card-container .character-card {
  width: 17%;
  height: 500px;
  background-color: #221f20;
  background-size: 40px 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
  cursor: pointer;
  box-sizing: border-box;
}
#card-container .character-card.red-card, #game-card-container .character-card.red-card {
  background-color: #3a0a0a;
  transform: scale(1.1);
}
#card-container .character-card.blue-card, #game-card-container .character-card.blue-card {
  background-color: #051540;
  transform: scale(1.1);
}
#card-container .character-card:hover, #game-card-container .character-card:hover {
  transform: scale(1.1);
}
#card-container .character-picture, #game-card-container .character-picture {
  width: auto;
  height: 50%;
  border-radius: 20px;
}
#card-container h2, #game-card-container h2 {
  color: #ffffff;
  padding: 10px;
}
#card-container p, #game-card-container p {
  color: #ffffff;
  padding: 10px;
}

#main-container #game-board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#main-container #token-player1, #main-container #token-player2 {
  position: absolute;
  bottom: 100px;
  right: 50px;
}
#main-container .game-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/kings_landing_bg_board_game_by_steve_lund.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
#main-container .game-container .game-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0;
}
#main-container .game-container .game-piece.trap .number {
  background-color: #3a0a0a;
  border: 2px solid #ffffff;
  color: #ffffff;
}
#main-container .game-container .game-piece .number {
  display: block;
  border: 2px solid #000000;
  border-radius: 99px;
  background-color: #ffffff;
  padding: 20px;
}

#players-container .dice-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#players-container #roll-dice-btn-player1 {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: #221f20;
  font-family: "cintzelBold";
  padding: 15px;
  border-radius: 15px;
  width: 20%;
  text-align: center;
  margin: 20px 20px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
#players-container #roll-dice-btn-player1:active {
  color: #ffffff;
  background-color: #3A0A0A;
}
#players-container #roll-dice-btn-player2 {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: #221f20;
  font-family: "cintzelBold";
  padding: 15px;
  border-radius: 15px;
  width: 20%;
  text-align: center;
  margin: 20px 20px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
#players-container #roll-dice-btn-player2:active {
  color: #ffffff;
  background-color: #051540;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  padding: 40px;
  background-color: #221f20;
}
.page-footer .credit-fan-art p {
  color: #ffffff;
  padding-top: 5%;
}
.page-footer .rule_icon {
  padding: 10px 10px;
}

@media only screen and (max-width: 1000px) {
  #card-container .character-card {
    width: 80%;
    text-align: center;
    margin: 10px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
